<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li class="">
          	<%= link_to "home",user_path(current_user.id) %>
          </li>
          <li class="">
         	<%= link_to "Users",users_path %>
          </li>
          <li class="">
            <%= link_to "books",books_path() %>
          </li>
          <li class="">
            <%= link_to "logout",destroy_user_session_path, method: :delete %>
          </li>
      </ul>
    </nav>
  </div>
</header>
<h1>マイページ</h1>
<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Body</th>
     </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <% if book.errors.any? %>
      <% end %>
      <tr>
        <td class="title"><%= book.title %></td>
        <td class="body"><%= book.body %></td>
        <td>

          <%= link_to"Show", book_path(book.id) %>
          <%= link_to"Edit", edit_book_path(book.id) %>
          <%= link_to"Destroy", book_path(book.id), method: :delete, "data-confirm" =>"Are you sure?" %>
        </td>
      </tr>
      <% end %>
    </tbody>
</table> 
